[submodule "components/library/letter-shell/letter-shell"]
	path = components/library/letter-shell/letter-shell
	url = https://github.com/NevermindZZT/letter-shell.git
[submodule "components/library/jsmn/jsmn"]
	path = components/library/jsmn/jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "components/library/cJSON/cJSON"]
	path = components/library/cJSON/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "components/library/Flash/FlashDB/FlashDB"]
	path = components/library/Flash/FlashDB/FlashDB
	url = https://github.com/armink/FlashDB.git
[submodule "components/library/Flash/EasyLogger/EasyLogger"]
	path = components/library/Flash/EasyLogger/EasyLogger
	url = https://github.com/armink/EasyLogger.git
[submodule "components/library/Flash/EasyFlash/EasyFlash"]
	path = components/library/Flash/EasyFlash/EasyFlash
	url = https://github.com/armink/EasyFlash.git
