[submodule "components/crypto/mbedtls/mbedtls"]
	path = components/crypto/mbedtls/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "components/debug/Unity/Unity"]
	path = components/debug/Unity/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "components/debug/cmockery/cmockery"]
	path = components/debug/cmockery/cmockery
	url = https://github.com/google/cmockery.git
[submodule "components/debug/googletest/googletest"]
	path = components/debug/googletest/googletest
	url = https://github.com/google/googletest.git
[submodule "components/debug/CmBacktrace/CmBacktrace"]
	path = components/debug/CmBacktrace/CmBacktrace
	url = https://github.com/armink/CmBacktrace.git
[submodule "components/file system/fatfs/fatfs"]
	path = components/file system/fatfs/fatfs
	url = https://github.com/abbrev/fatfs.git
[submodule "components/file system/littlefs/littlefs"]
	path = components/file system/littlefs/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "components/flash/EasyFlash/EasyFlash"]
	path = components/flash/EasyFlash/EasyFlash
	url = https://github.com/armink/EasyFlash
[submodule "components/flash/FlashDB/FlashDB"]
	path = components/flash/FlashDB/FlashDB
	url = https://github.com/armink/FlashDB
[submodule "components/flash/SFUD/SFUD"]
	path = components/flash/SFUD/SFUD
	url = https://github.com/armink/SFUD
[submodule "components/logger/EasyLogger/EasyLogger"]
	path = components/logger/EasyLogger/EasyLogger
	url = https://github.com/armink/EasyLogger
[submodule "components/logger/letter-shell/letter-shell"]
	path = components/logger/letter-shell/letter-shell
	url = https://github.com/NevermindZZT/letter-shell
[submodule "components/logger/nr_micro_shell/nr_micro_shell"]
	path = components/logger/nr_micro_shell/nr_micro_shell
	url = https://github.com/Nrusher/nr_micro_shell
